version: '3.8'
services:
  redis:
    image: redis:alpine
    container_name: auction-redis
    ports:
      - "6379:6379"

  mongodb:
    image: mongo:latest
    container_name: auction-mongodb
    ports:
      - "27017:27017"
    volumes:
      - mongodb_data:/data/db

  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch:8.11.1
    container_name: auction-elasticsearch
    environment:
      - discovery.type=single-node
      - xpack.security.enabled=false
    ports:
      - "9200:9200"

volumes:
  mongodb_data:

