server:
  port: 0

spring:
  application:
    name: service-admin
  threads:
    virtual:
      enabled: true

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/

jwt:
  secret: c2VjcmV0LWtleS1mb3ItYXVjdGlvbi1wcm9qZWN0LXRlc3QtMTIzNDU2Nzg5MA==
  issuer: auction-service
  access-token-ttl: 1800000
  refresh-token-ttl: 604800000

springdoc:
  api-docs:
    path: /v3/api-docs
  swagger-ui:
    path: /swagger-ui.html
    enabled: true
    tags-sorter: alpha
    operations-sorter: alpha

management:
  tracing:
    sampling:
      probability: 1.0
  zipkin:
    tracing:
      endpoint: http://localhost:9411/api/v2/spans

logging:
  pattern:
    level: "%5p [${spring.application.name:},%X{traceId:-},%X{spanId:-}]"

feign:
  client:
    config:
      default:
        connectTimeout: 5000
        readTimeout: 5000
  circuitbreaker:
    enabled: true
    alphanumeric-ids:
      enabled: true

resilience4j:
  circuitbreaker:
    configs:
      default:
        registerHealthIndicator: true
        slidingWindowSize: 10
        minimumNumberOfCalls: 5
        permittedNumberOfCallsInHalfOpenState: 3
        automaticTransitionFromOpenToHalfOpenEnabled: true
        waitDurationInOpenState: 10s
        failureRateThreshold: 50
        eventConsumerBufferSize: 10
    instances:
      service-user:
        baseConfig: default
      service-auction:
        baseConfig: default
      service-payment:
        baseConfig: default
      service-search:
        baseConfig: default
  
  bulkhead:
    configs:
      default:
        maxConcurrentCalls: 100
        maxWaitDuration: 10ms
    instances:
      service-user:
        baseConfig: default
        maxConcurrentCalls: 50
      service-auction:
        baseConfig: default
        maxConcurrentCalls: 50
      service-payment:
        baseConfig: default
        maxConcurrentCalls: 30
      service-search:
        baseConfig: default
        maxConcurrentCalls: 30
  
  timelimiter:
    configs:
      default:
        timeoutDuration: 5s
    instances:
      service-user:
        baseConfig: default
      service-auction:
        baseConfig: default
      service-payment:
        baseConfig: default
      service-search:
        baseConfig: default

