server:
  port: 8888

spring:
  application:
    name: server-config
  profiles:
    active: native
  cloud:
    config:
      server:
        native:
          search-locations: file:///\${user.home}/Documents/ch/auction/config-repo

eureka:
  client:
    service-url:
      defaultZone: \${EUREKA_CLIENT_SERVICEURL_DEFAULTZONE:http://localhost:8761/eureka/}
