server:
  port: 0

spring:
  application:
    name: chat-service
  profiles:
    active: ${SPRING_PROFILES_ACTIVE:dev}
  config:
    import: "configserver:${CONFIG_SERVER_URL:http://localhost:8888}"
  cloud:
    config:
      enabled: true
      fail-fast: true
      retry:
        initial-interval: 3000
        max-attempts: 20
        max-interval: 10000
        multiplier: 1.5
    openfeign:
      circuitbreaker:
        enabled: true
  data:
    mongodb:
      uri: mongodb://localhost:27017/auction_chat
  kafka:
    bootstrap-servers: ${SPRING_KAFKA_BOOTSTRAP_SERVERS:auction-kafka:29092}
  threads:
    virtual:
      enabled: true

resilience4j:
  circuitbreaker:
    instances:
      service-auction:
        baseConfig: default
    configs:
      default:
        slidingWindowSize: 10
        failureRateThreshold: 50
        waitDurationInOpenState: 10000
        permittedNumberOfCallsInHalfOpenState: 3

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/

jwt:
  secret: c2VjcmV0LWtleS1mb3ItYXVjdGlvbi1wcm9qZWN0LXRlc3QtMTIzNDU2Nzg5MA==
  issuer: auction-service
  access-token-ttl: 1800000
  refresh-token-ttl: 604800000

springdoc:
  api-docs:
    path: /v3/api-docs
  swagger-ui:
    path: /swagger-ui.html
    enabled: true
    tags-sorter: alpha
    operations-sorter: alpha
