server:
  port: 0

spring:
  application:
    name: service-search
  data:
    elasticsearch:
      uris: http://localhost:9200
  threads:
    virtual:
      enabled: true

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/

